@charset "UTF-8";


*{
    overflow: hidden;
}

body, html{
    height: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: linear-gradient(to bottom, #BF9B7A, #8C5B3E);
}

p{
    text-align: justify;
}

main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 3px rgba(139, 95, 70, 0.663);
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
    color: #593E2E;
    text-align: center;
    text-shadow: 1px 1px 2px #442f23b1;
    font-family: 'noto serif';
}

h2{
    color: #8C5B3E;
}