@charset "UTF=8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html,body{
    height: 100%;
}

body{
    background-color: rgba(128, 225, 128, 0.912);
}

header{
    width: 100%;
    height: 200px;
    background-image: linear-gradient(to bottom, rgb(116, 203, 116),rgb(62, 116, 62));
    text-align: center;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.182);
}

h1{
    font-size: 1.7em;
    color: white;
    margin-bottom: 20px;
    padding: 20px;
}

header p{
    color: white;
}

nav.menu{
    margin-top: 20px;
    padding: 20px;
    text-align: left;
}

nav.menu > a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin-left: 10px;
    padding: 5px;
}

section.content{
    margin: 0 auto;
    width: 700px;
    background-color: white;
    padding: 25px;
    text-align: justify;

}

.content > h2{
    color: rgb(42, 81, 42);
    margin-bottom: 18px;
}

.content > p{
    text-indent: 30px;
    line-height: 20px;
}

a.color{
    text-decoration: none;
    color: rgb(42, 81, 42);
    font-weight: bold;
}

article{
    margin-top: 15px;
    text-align: justify;
}

article > h3{
    color: rgb(42, 81, 42);
    background-image: linear-gradient(to right, lightgreen, white);
    padding: 0px 7px;
    margin-bottom: 18px;
}

article > p{
    text-indent: 30px;
    line-height: 20px;
}

picture > img{
    width: 650px;
    padding: 10px;
}

article.video{
    width: 700px; 
    height: auto;
    margin: 0 auto;
    background-color: rgb(13, 72, 18);
}

iframe{
    margin: auto;
    display: block; 
    padding: 25px; 
}

section.links{
    width: 700px; 
    height: auto;
    background-color: white;
    margin: 0 auto;
    padding: 15px;
    border-radius: 0 0 8px 8px;
}

.links h4{
    background-color: rgba(53, 112, 53, 0.841);
    border-radius: 8px 8px 0 0;
    padding: 10px;
    color: white;   
}

nav.box{
    margin: 0;
    background-color: rgb(120, 187, 148);
    height: auto;
    padding: 25px;
    border-radius: 0 0 8px 8px;
    
}

.box p{
    line-height: 20px;
    text-indent: 30px;
}

nav.lista{
    display: grid;
    grid-template-columns: 1fr 1fr;    
    gap: 5px 150px;
    margin-top: 20px;
}


nav.lista a{
    color: black;
}

nav p.android-q{
    margin-top: 20px;
} 

nav p.android-history{
    margin-top: 20px;
}

section p.fim-sessao{
    margin-top: 20px;
    text-indent: 30px;
    line-height: 20px;
    margin-bottom: 20px;
}

footer{
    background-color: rgb(13, 72, 18);
    margin-top: 15px;
}

footer > p{
    color: white;
    font-weight: 100;
    text-align: center;
    padding: 5px;
}
a.perfil {
    text-decoration: none;
    color: white;
    font-weight: 900;
}