@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
}

body{
    background-color: rgba(255, 0, 0, 0.177);
}

header{
    width: 100%;
    min-height: 150px;
    background-image: linear-gradient(to bottom, #1a1a1adc, #101010);
    padding: 15px;
    text-align: center;
}

header > h1{
    color: white;
    padding-top: 20px;
    font-size: 2.2em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header > p{
    font-size: 1.2em;
    padding: 10px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    max-width: 350px;
    display: block;
    margin: auto;
    margin-top: 8px;
}

nav{
    background-color: #101010;
    padding: 13px;
}

nav > a{
    text-decoration: none;
    color: #b8930b;
    font-weight: bold;
    font-size: 1.1em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px;
    transition-duration: .5s;
}

nav > a:hover{
    color: #876309;
    background-color: #e7eee2;
    border-radius: 5px;
}

main{
    max-width: 1000px;
    min-width: 320px;
    background-color: white;
    margin: auto;
    border-radius: 0 0 8px 8px;
    padding: 20px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.258);
}

main div.galeria{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: top;
    gap: 20px;
}

main picture > img{
    width: 450px;
    
}

main h1{
    padding: 12px;
    background-image: linear-gradient(to right, #B81008, transparent);
    text-indent: 8px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-style: italic;
    border-radius: 4px;
}

main p.site{
    margin-top: 15px;
    padding: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.2em;
    text-indent: 30px;
    line-height: 2em;
}

main h2{
    text-indent: 8px;
    padding: 2px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    border-radius: 4px;
    margin-bottom: 15px;
}

main p.descricao{
    font-style: italic;
    text-align: center;
    font-weight: bold;
    font-family: sans-serif;
    max-width: 450px;
}

main label{
    display: block;
    margin-top: 15px;
    padding: 10px;
    text-align: center;
}

input[type=text]{
    display: block;
    margin: auto;
    width: 50%;
    height: 30px;
}

main textarea{
    display: block;
    margin: auto;
    width: 50%;
    height: 100px;
}

main button{
    display: block;
    margin: auto;
    margin-top: 20px;
    width: 100px;
    height: 30px;
    padding: 5px;
    cursor: pointer;
    border-radius: 8px;
    background-color: #b8930b;
    border-bottom: 5px solid #ebbc11;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    text-align: center;
}

main button:hover{
    color: black;
    background-color: rgb(172, 170, 49);
}

footer{
    margin-top: 20px;
    text-align: center;
    background-color: black;
    color: white;
    padding: 5px;
}